*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
.grid-container{
    display: grid;
    grid-template-columns: 100px 150px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    height: 100vh;
    border: 10px solid #089288; 
    justify-content: center;
    align-content: space-between;
}
.grid-item{
    background-color: #E3ED90;
    border: 4px solid #76E6C7;
    padding: 20px;
}